    <div class="container">

        <header>
            <img src="" alt="">
            <button class="login"> Logga In </button>
            <a href="ptsida.html"><button class="pt"> Personlig Tr채ning </button> </a>
            <a href="tr채ningssida.html"><button class="tr채pr"> Tr채ningsprogram </button> </a>
            <a href="Utegym.html"><button class="uteg"> Utegym </button> </a>
            <a href="Nysida.html"><button class="nysid"> Nysida </button> </a>
        </header>

        <div class="topimg"></div>

        <div class="main"></div>

        <div class="trsection">
            
        </div>

        <div class="tr2sec">

        </div>

    </div>